<!doctype html>
<html>
<body>
<p>You are currently in {{ place }} place with {{ amount }}.</p>
<p>Current top {{ top_standings|length }}:</p>
<ol>
{% for standing in top_standings %}
<li>{{ standing["name"] }}: {{ standing["amount"] }}</li>
{% endfor %}
</ol>
</body>
</html>
